* {
  margin: 0;
  padding: 0;

}


body {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-family: "Andika";
}


.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(114, 151, 111, 0.5);
}


.navitem>img {
  max-height: 80px;
}


.navitem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}


a {

  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}


h1 {
  font-size: 64px;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;

}


h3 {
  font-size: 46px;
  margin-top: 40px;
  background-color: rgba(114, 151, 111, 0.5);
  justify-content: center;
  align-items: center;
  text-align: center;

}

h5 {
  background-color: rgba(114, 151, 111, 0.25);

}

.hobby_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  text-align: center;
}

.hobby_container .hobby_art>img {
  width: 800px;
  height: auto;
}

.hobby_container>img {
  width: auto;
  height: 800px;
}

.hobby_art {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.entertainment_container .entertainment_drama>img {
  width: auto;
  height: 500px;
}

.entertainment_container>img {
  width: auto;
  height: 500px;
}

.entertainment_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.entertainment_drama {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 28px;
  background-color: rgba(114, 151, 111, 0.25);
  max-width: 800px;
  text-align: justify;


}


.container2 .in_container2>img {
  width: auto;
  height: 800px;

}

.container2>img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: auto;

}


.in_container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
}

li {
  font-size: 28px;
  background-color: rgba(114, 151, 111, 0.25);

}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(114, 151, 111, 0.5);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  columns: 100px;
  column-count: 2;
}

.container .gif p> {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 28px;
  background-color: rgba(114, 151, 111, 0.25);
  max-width: 1000px;
  text-align: justify;
}

.hobby_container .gif img> {
  max-width: 1000px;
  max-height: auto;

}

.gif {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  max-width: 1500px;
  text-align: justify;
}